@model Paginate<Event>
@{
    ViewData["Title"] = "Index";
}

<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>event</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Event Start -->
<div class="event-area three text-center pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (var events in Model.Datas)
            {
                <div class="col-md-4 hidden-sm hidden-xs">
                    <div class="single-event">
                        <div class="event-img">
                            <a asp-controller="Event" asp-action="EventDetails" asp-route-id="@events.Id">
                                <img src="~/assets/img/event/@events.Image" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                                <h3>@events.Date</h3>
                            </div>
                        </div>
                        <div class="event-content text-left">
                            <h4><a asp-controller="Event" asp-action="EventDetails" asp-route-id="@events.Id">@events.Title</a></h4>
                            <ul>
                                <li><span>time:</span> @events.Time</li>
                                <li><span>venue</span> @events.Location</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" asp-controller="Event" asp-action="EventDetails" asp-route-id="@events.Id">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="pagination">
                    <ul>
                        @for (int i = 1; i <= Model.TotalPage; i++)
                        {
                            <li class="@(i==Model.CurrentPage? "disabled" : "")"><a asp-action="Index" asp-route-page="@i">@i</a></li>
                        }


                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

